*{
    margin: 0;
    padding: 0;
}
.login{
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)) ,url(../../assets/images/cover3.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    background-color: rgba(19, 180, 145, 0.6);
    height: 70vh;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #333;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    margin: auto;
    color: #fff
}
.title{
    letter-spacing: 1px;
    font-size: 50px;
    text-transform: uppercase;
}
.form-group{
    width: 400px;
    margin-top: 20px;
}
label{
    font-size: 20px;
    margin-bottom: 10px;
}
input{
    padding: 10px;
    border-radius: 5px;
    border: none;
}
.submitbtn{
    margin: 20px 0;
    border: none;
    width: 200px;
    padding: 10px 20px;
    background-color: rgb(204, 19, 90);
    color: #fff;
    font-weight: 500;
}
p{
    font-size: 18px;
    text-transform: capitalize;
    letter-spacing: 1px;
    a{
        text-decoration: underline;
        color: #eee;
    }
}
@media only screen and (max-width: 500px){
    form{
        padding: 30px 10px;
    }
    .form-group{
        width: 250px;
    }
}