<app-navbar></app-navbar>
<div class="container">
    <div class="post">
        <img src="{{post.image}}" style="width: 400px" title="" />
        <div class="owner">{{post.username}}</div>
        <h1 class="title">{{post.title}}</h1>
        <div class="desc">{{post.desc}}</div>
        <div class="date">{{post.createdAt}}</div>
    </div>
    <button class="btn btn-primary">add comment</button>
    <!-- <button type="button" (click)="updatePost()" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal">
        Edit
    </button>
    <button class="btn btn-danger" (click)="deletePost({{post._id}})">Delete</button> -->
    <form [formGroup]="commentForm">
        <input type="text" formControlName="content" placeholder="comment"/>
        <button class="btn btn-primary" (click)="addComment()">puplish</button>
    </form>
    <div class="comments" *ngFor="let comment of comments">
        <img src="{{comment.userImg}}" class="userPic" />
        <div class="userName">{{comment.username}}</div>
        <div class="content">{{comment.content}}</div>
    </div>
</div>
<app-footer></app-footer>
<!-- Modal -->
